<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
		<appSettings>
			<add key="DBConnectionLocal" value="Server=(LocalDB)\v11.0;Integrated Security=true;AttachDbFileName=c:\Users\Adam\Cloudsifter.mdf"/>
			<add key="DBConnection" value="Server=tcp:mr771d1jat.database.windows.net;Database=cloudsifter;User ID=adam@mr771d1jat;Password=SQLAzureDB22!!;Trusted_Connection=False;Encrypt=True;"/>
</appSettings>
</configuration>
